*.pyc
/node_modules/*
/semantic/*
/twitter.json
/.idea/*
/twitmap/static/twittermap/build/*

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
