body {
	margin: 0;
	padding: 0;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}

#twittermap-controller{
	width: 20em;
	position: fixed;
	top: 1em;
	right: 1em;
}

.tweet-cluster-icon {

}

.tweet-cluster-outer {
	width: 60px;
    height: 60px;
    background: #89C9FA;
    border-radius: 30px;
}

.tweet-cluster {
	position: relative;
	top: 5px;
	left: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
    background: #55acee;
    text-align: center;
    border-radius: 25px;
    color: white;
}