<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8 />
    <title>Twitter Map</title>
    <meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
    <script src='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.3.0/mapbox.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js'></script>
    <script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.0/semantic.min.css"/>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.0/semantic.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"/>
    {% load staticfiles %}
    <link href="{% static 'twittermap/img/logo.png' %}" rel="shortcut icon">
    <link rel="stylesheet" type="text/css" href="{% static 'twittermap/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'twittermap/lib/dist/react-select.min.css' %}">
</head>
<body>
    <div id='map'></div>
    <div id='twittermap-controller'></div> 
    <script src="{% static 'twittermap/build/main.min.js' %}"></script>
</body>

</html>